* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100vh;
}

body {
  padding: 0px;
  margin: 0px;
  width: 100vw;
}

section,
input,
button,
h1,
h2 {
  background: none;
  color: inherit;
  padding: 0px;
  margin: 0px;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

button {
  border: none;
}

span {
  vertical-align: middle;
}

.pwd-div-style {
  display: flex;
  place-content: center;
  align-items: center;
}
